<div class="footer p-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="../../../assets/Logo-Cute-1-300x52.png"/>
            </div>
        </div>
        <div class="row  mt-1" style="border-bottom: 1px solid #ffff;">
            <div class="col-md-3 col-sm-12  mt-1">
                <h5>Call Us </h5>
                <p> +62 864 6444 2222 </p>
            </div>
            <div class="col-md-3 col-sm-12  mt-1">
                <h5>Email Us    </h5>
                <p> Hi@babyshop.com   </p>
            </div>
            <div class="col-md-3 col-sm-12 mt-1">
                <h5>Main Shop  </h5>
                <p> Jl.02 ke-Kota Malang, Cakep</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-8 col-sm-12 mt-1">
                <p>Copyrigt © 2023
                Design by Rahma Mohammed</p>
            </div>
            <div class="col-md-4 col-sm-12 mt-1">
                <p>
                    Copyrigt © 2023 
                    Design by Rahma Mohammed
                    Terms of Use
                    Privacy Policy</p>
            </div>
        </div>

    </div>
</div>