<div class="about">
    <div class="section1" style="background-color: hsl(13, 100%, 96%); padding: 5px;">
        
        <p style=" border-left: 1px solid #000; color:#ff445a" > About Us</p>
    </div>
    <div class="sec2 container mt-5">
        <div class="row">
           <div class="col-sm-12 col-md-6">
             <p style="color: #ff445a;">Our Vision </p>
             <h2> Shaping a Brighter, Happier Future
            </h2>
             <p class="text-muted pt-5">
                 Feugiat tellus quis praesent rutrum et. Fusce volutpat imperdiet consectetur pharetra. Aliquam eget neque arcu integer sagittis nisl. Proin mattis.

                Elementum id laoreet aliquam dolor donec magna nisi. Aliquam tincidunt facilisi nibh sit. Vel sit risus pharetra quis. Ac adipiscing lectus sit ullamcorper tellus nisl viverra sit. Vitae potenti massa eget laoreet volutpat cum iaculis.</p>
           </div> 
           <div class="col-sm-12 col-md-6">
            <div class="card" style="width: 18rem; border: none;">
                <img class="card-img-top" src="assets/71-3HjGNDUL._AC_SY879._SX._UX._SY._UY_.jpg" alt="Card image cap">
                <div class="card-body">
                    <img src="../../../assets/Logo-Cute-2.png"/>
                </div>
              </div>
           </div>
        </div>
    </div>
    <div class="sec3">
        <div class="container">
            <div class="row">
                 <div class="col-md-3 col-sm12 mt-2">
                    <div class="card">
                        <i class="fa fa-thumbs-up  fa-4x"   aria-hidden="true"></i>
                        <div class="card-body">
                          <h5 class="card-title">Lowest Prices </h5>
                          <p class="card-text">Pulvinar cras et sem egestas ullamcorper leo eu scelerisque. Euismod eu elementum urna.</p>
                        </div>
                      </div>

                 </div>
                 <div class="col-md-3 col-sm12 mt-2">
                    <div class="card">
                        <i class="fa fa-shopping-cart fa-4x" aria-hidden="true"></i>
                        <div class="card-body">
                          <h5 class="card-title">Fast Delivery </h5>
                          <p class="card-text">Pulvinar cras et sem egestas ullamcorper leo eu scelerisque. Euismod eu elementum urna.</p>
                        </div>
                      </div>
                     </div>
                 <div class="col-md-3 col-sm12 mt-2">
                     <div class="card">
                    <i class="fa fa-star-half-o fa-4x" aria-hidden="true"></i>
                    <div class="card-body">
                      <h5 class="card-title">Expert Guidance </h5>
                      <p class="card-text">Pulvinar cras et sem egestas ullamcorper leo eu scelerisque. Euismod eu elementum urna.</p>
                    </div>
                  </div>
                </div>
                 <div class="col-md-3 col-sm12 ">
                    <div class="card">
                        <i class="fa fa-headphones fa-4x" aria-hidden="true"></i>
                        <div class="card-body">
                          <h5 class="card-title">Customer Care                        </h5>
                          <p class="card-text">Pulvinar cras et sem egestas ullamcorper leo eu scelerisque. Euismod eu elementum urna.</p>
                        </div>
                      </div>

                 </div>
            </div>
        </div>
    </div>
</div>