<div class="container mt-5 ">
    <div class="row">
        <div class="col-md-6 col-sm-12 mt-5" >
            <h5>Cutee Shop</h5>
            <h4 class="text-muted">
                Welcome to <span>Cutee Shop</span> Where Shopping Meets Convenience!"<br>
            </h4>
            <a class="btn">Shop Now!</a>
            
        </div>
        <div class="col-md-6 col-sm-12 mt-5">

            <div class="card" style="width: 25rem;">
            <img src="../../../assets/Apple_watch-series7_lp_09142021.jpg.og.jpg" class="card-img-top" alt="Card Image" style="width: auto;">
            <div class="card-body text-center">
                <h5 class="card-title">Apple Watch Series 7</h5>
                <p class="card-text text-muted"> refined design with enhanced durability, faster charging, new aluminum case colors, and watchOS8</p>
                <a href="#" class="btn btn-primary">shop now!</a>
            </div>
            </div>
        </div>
        </div>
</div>
<div class="Stats mb-2 mt-1 p-2">
    <div class="container mt-5">
        <div class="row" style="border-bottom: 1px solid #ff445a;">
            <div class="col-md-3 col-sm-12">
                <h2>Stats. </h2>
                <p class="text-muted">Senectus viverra integer ut lectus dui amet felis. Eu purus tristique in leo in at eleifend et lorem. </p>
            </div>
            <div class="col-md-3 col-sm-12">
                <h2>{{x}}k </h2>
                <p class="text-muted">Years of Experience</p>
            </div>
            <div class="col-md-3 col-sm-12">
                <h2>{{brand}} +</h2>
                <p class="text-muted">Brand Product Available
                </p>
            </div>
            <div class="col-md-3 col-sm-12">
                <h2>{{review}} K </h2>
                <p class="text-muted">Product Reviews </p>
            </div>
        </div> 
        <div class="row mt-5" >
            <h2>Our Partners</h2>
            <div class="col-md-3 col-sm-6 mt-4 ">
                <img src="assets/Logo-Client-1.png"  style="width: 100px;height: 50px;"/>
            </div>
            <div class="col-md-3 col-sm-6 mt-4">
                <img src="assets/Logo-Client-2-300x108.png" style="width: 100px;height: 50px;"/>

            </div>
            <div class="col-md-3 col-sm-6 mt-4">
                <img src="assets/Logo-Client-3.png"style="width: 100px;height: 50px;"/>
            </div>
            <div class="col-md-3 col-sm-6 mt-4">
                <img src="assets/Logo-Client-4.png"style="width: 100px;height: 50px;" />

            </div>
        </div> 
    </div>
</div>